# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# UE5 Folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# UE5 Files
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Binary Files
*.uasset
*.umap
*.upk
*.udk

# Don't ignore these binary files
!Content/Blueprints/*.uasset
!Content/Materials/*.uasset
!Content/Levels/*.umap

# Configuration files
!Config/*.ini

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sql
*.sqlite

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Autosaves
*_BuiltData.uasset
